.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  flex-direction: column;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.box{
  width: 40rem;
  height: 30rem;
  background: radial-gradient(#E7EBD7,#9dbedd);
  box-shadow: 20px 20px 20px #076cab ;
  border-radius: 10px;
  padding: 1rem;
}

.same-style{
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;

}